
/* Toon de kaart volledig browser scherm */
#map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Toon toolbox over de kaart */
.toolbox {
    z-index: 9;
    position: absolute;
    top: 20px;
    left: 100px;
}

.toolbox .box {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
    background: rgb(25, 25, 25, .1);
}

.sidebar-left {
    z-index: 9;
    position: absolute;
    top: 200px;
}

.sidebar-left-bottom {
    z-index: 9;
    position: absolute;
    top: 800px;
}

.sidebar-right {
    z-index: 9;
    position: absolute;
    top: 200px;
    right: 0px;
}

.sidebar .box {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
    background: rgb(25, 25, 25, .1);
}

#view-properties {
    width: 500px;
}

/** Om iets over de map weer te geven moet je de z-index gebruiken en de position op absolute zetten */
.overlay-box {
    position:absolute;
    top:5%;
    left:90%;
    transform:translate(-50%, -50%);
    color: white; background: #666666; opacity: .8;
    z-index: 1000;
}

.overlay-box.left {
    left: auto;
    right: 240px;
    transform: unset;
}

/* viewer/view container + toolboxes */
#viewer {
    height: 100%;
    width: 100%;
}
.view {
    height: 100%;
    width: 100%;
}

#feature-info td, th {
    text-align: left;
}
